client/.idea/
client/resources/
client/diagrams/
experiments/.idea/
*.pyc
client/cmake-build-debug/
client/SketchyGenerator.pt
experiments/training/trainers/runs
experiments/training/trainers/checkpoints/
experiments/runs
dataset/
!experiments/dataset/
experiments/Dataset_IDS.csv
experiments/roxana.py
experiments/parliamen_data.csv
experiments/playground.py
*.pt
*.pkl
*runs/
*data/
*checkpoints/
experiments/servers/build/
